body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

header {
  position: absolute;
  font-size: 42px;
  height: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  top: 0;
}

.bodyContainer {
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 30px;
}

.sidebar {
  border: 2px solid black;
  width: 300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #e9ecef;
}

.buttonContainerMobile {
  display: none;
}

.hidden {
  width: 300px;
  height: 700px;
  visibility: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: space;
  gap: 20px;
}

.buttons {
  background-color: #eee;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  border: 2px solid black;
  /* border-radius: 20px; */
  transition: transform .15s;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  -webkit-font-smoothing: antialiased;
}

.buttons.on {
  background-color: #495057;
  color: #eee;
  border: 2px solid #343a40;
}

.buttons:hover {
  transform: scale(1.1);
  background-color: #495057;
  color: #eee;
}

.sliderDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.slider {
  width: 200px;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 1px solid #000;
  background: #eee;
  height: 10px;
  border-radius: 25px;
}

input[type="range"]::-moz-range-track {
  border: 1px solid #000;
  background: #eee;
  height: 10px;
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #343a40;
  border: 2px solid #eee;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  margin-top: -3px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: #343a40;
  border: 2px solid #eee;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  margin-top: -3px;
  border-radius: 50%;
}


.grid {
  --cols: 1;
  width: 700px;
  height: 700px;
  display: inline-grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--cols), 1fr);
  column-gap: 1px;
  row-gap: 1px;
  background: black;
  vertical-align: top;
  border: 2px solid black;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

.grid>div {
  background: #e9ecef;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}

.footer {
  font-size: 30px;
  margin-top: 50px;
  font-family: 'Rock Salt', cursive;
  height: 100px;
}


/* Mobile */

 @media (max-width: 800px) {
  header {
    position: absolute;
    font-size: 25px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
  }

  .hidden {
    display: none;
  }

  .bodyContainer {
    margin-top: 75px;
  }

  .grid {
    width: 350px;
    height: 350px;
  }

  .sidebar {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background: transparent;
    border: none;
    gap: 15px;
  }

  .buttonContainer {
    display: none;
  }

  .buttonContainerMobile {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
  }

  .buttons {
    background: #fff;
    width: 150px;
    margin: 2px;
    border: 1px solid black;
    }

  .buttons:hover {
    transform: scale(1.0);
    background-color: transparent;
    color: #000;
  }
    .buttons.on {
      background-color: #495057;
      color: #eee;
      border: 1px solid #343a40;
    }
    
    .footer {
      margin-top: 100px;
      font-family: 'Rock Salt', cursive;
      height: 100px;
      font-size: 24px;
    }
  }





